<div layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center">
        <div class="logo" layout="row" layout-align="start center">
            <span class="logo-image">S</span>
            <span class="logo-text">STI2D |</span> <span class="md-subhead"> by Alexandre Burgoni</span>
        </div>

        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="64">
        </md-progress-circular>
    </div>

    <div layout="row" layout-align="start center">

        <div class="toolbar-separator"></div>

        <ms-search-bar></ms-search-bar>

    </div>
</div>